*~
dispatch-map.go
*.html.go
*.js.go
*.stdin
substrate-[0-9]*-*-*
substrate-[0-9]*-*-*.tar.gz
substrate.version
*.sw[opx]
*.template.go
terraform/*-global-*.go
terraform/*-global.go
terraform/peering-connection.go
terraform/*-regional-*.go
terraform/*-regional.go
terraform/*.tf.go
*.zip
.idea/*
