<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>Accounts</title>
<body>
{{template "nav"}}
<h1>Accounts</h1>
<p class="context">Here are all the AWS accounts in your organization. Once you've logged into the AWS Console using your identity provider, use this table to assume roles in all your accounts in the AWS Console. If you need command-line access, use <kbd>eval $(substrate credentials)</kbd>, the <a href="credential-factory">Credential Factory</a>, or the <a href="instance-factory">Instance Factory</a>.</p>
<h2>Special accounts</h2>
{{- $roleName := .RoleName}}
<table border="1" cellpadding="2" cellspacing="2">
<tr>
    <th nowrap>Name</th>
    <th nowrap>Account Number</th>
    <th colspan="2"nowrap>Launch the AWS Console as...</th>
    <th nowrap>E-mail</th>
    <th nowrap>Version</th>
</tr>
<tr>
    <td>management</td>
    <td>{{.ManagementAccount.Id}}</td>
    <td>{{if eq $roleName "Administrator"}}<a class="aws-console" href="accounts?number={{.ManagementAccount.Id}}&role=OrganizationAdministrator" target="aws-console-{{.ManagementAccount.Id}}">OrganizationAdministrator</a>{{else}}&nbsp;{{end}}</td>
    <td><a class="aws-console" href="accounts?number={{.ManagementAccount.Id}}&role=OrganizationReader" target="aws-console-{{.ManagementAccount.Id}}">OrganizationReader</a></td>
    <td>{{.ManagementAccount.Email}}</td>
    <td>{{.ManagementAccount.Tags.SubstrateVersion}}</td>
</tr>
<tr>
    <td>{{.AuditAccount.Name}}</td>
    <td>{{.AuditAccount.Id}}</td>
    <td>&nbsp;</td>
    <td><a class="aws-console" href="accounts?number={{.AuditAccount.Id}}&role=Auditor" target="aws-console-{{.AuditAccount.Id}}">Auditor</a></td>
    <td>{{.AuditAccount.Email}}</td>
    <td>{{.AuditAccount.Tags.SubstrateVersion}}</td>
</tr>
<tr>
    <td>{{.DeployAccount.Name}}</td>
    <td>{{.DeployAccount.Id}}</td>
    <td>{{if eq $roleName "Administrator"}}<a class="aws-console" href="accounts?number={{.DeployAccount.Id}}&role=DeployAdministrator" target="aws-console-{{.DeployAccount.Id}}">DeployAdministrator</a>{{else}}&nbsp;{{end}}</td>
    <td><a class="aws-console" href="accounts?number={{.DeployAccount.Id}}&role=Auditor" target="aws-console-{{.DeployAccount.Id}}">Auditor</a></td>
    <td>{{.DeployAccount.Email}}</td>
    <td>{{.DeployAccount.Tags.SubstrateVersion}}</td>
</tr>
<tr>
    <td>{{.NetworkAccount.Name}}</td>
    <td>{{.NetworkAccount.Id}}</td>
    <td>{{if eq $roleName "Administrator"}}<a class="aws-console" href="accounts?number={{.NetworkAccount.Id}}&role=NetworkAdministrator" target="aws-console-{{.NetworkAccount.Id}}">NetworkAdministrator</a>{{else}}&nbsp;{{end}}</td>
    <td><a class="aws-console" href="accounts?number={{.NetworkAccount.Id}}&role=Auditor" target="aws-console-{{.NetworkAccount.Id}}">Auditor</a></td>
    <td>{{.NetworkAccount.Email}}</td>
    <td>{{.NetworkAccount.Tags.SubstrateVersion}}</td>
</tr>
</table>
<h2>Service accounts</h2>
<table border="1" cellpadding="2" cellspacing="2">
<tr>
    <th nowrap>Domain</th>
    <th nowrap>Environment</th>
    <th nowrap>Quality</th>
    <th nowrap>Account Number</th>
    <th colspan="2" nowrap>Launch the AWS Console as...</th>
    <th nowrap>E-mail</th>
    <th nowrap>Version</th>
</tr>
{{- range .ServiceAccounts}}
<tr>
    <td>{{.Tags.Domain}}</td>
    <td>{{.Tags.Environment}}</td>
    <td>{{.Tags.Quality}}</td>
    <td>{{.Id}}</td>
    <td><a class="aws-console" href="accounts?number={{.Id}}&role={{$roleName}}" target="aws-console-{{.Id}}">{{$roleName}}</a></td>
    <td><a class="aws-console" href="accounts?number={{.Id}}&role=Auditor" target="aws-console-{{.Id}}">Auditor</a></td>
    <td>{{.Email}}</td>
    <td>{{.Tags.SubstrateVersion}}</td>
</tr>
{{- end}}
</table>
<h2>Admin accounts</h2>
<table border="1" cellpadding="2" cellspacing="2">
<tr>
    <th nowrap>Quality</th>
    <th nowrap>Account Number</th>
    <th colspan="2"nowrap>Launch the AWS Console as...</th>
    <th nowrap>E-mail</th>
    <th nowrap>Version</th>
</tr>
{{- range .AdminAccounts}}
<tr>
    <td>{{.Tags.Quality}}</td>
    <td>{{.Id}}</td>
    <td><a class="aws-console" href="accounts?number={{.Id}}&role={{$roleName}}" target="aws-console-{{.Id}}">{{$roleName}}</a></td>
    <td><a class="aws-console" href="accounts?number={{.Id}}&role=Auditor" target="aws-console-{{.Id}}">Auditor</a></td>
    <td>{{.Email}}</td>
    <td>{{.Tags.SubstrateVersion}}</td>
</tr>
{{- end}}
</table>
<script src="/js/accounts.js"></script>
</body>
</html>
