<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
{{- if or .Launched .Terminated}}
<meta http-equiv="refresh" content="10">
{{- end}}
<title>Instance Factory</title>
<body>
{{template "nav"}}
<h1>Instance Factory</h1>
<p class="context">This tool launches EC2 instances that administrators can use to work in the cloud. Alternatively, the <a href="credential-factory">Credential Factory</a> mints short-lived credentials with the same privileges as these EC2 instances that administrators can use (more) safely on their laptops.</p>
{{- if .Error}}
<p class="error">{{.Error}}</p>
{{- end}}
<form method="GET">
<p>Launch a new EC2 instance in:
{{- range $i, $region := .Regions}}
<input name="region" type="submit" value="{{$region}}">
{{- end}}
</p>
</form>
<table border="1" cellpadding="2" cellspacing="2">
<tr>
    <th>SSH command</th>
    <th>Availability Zone</th>
    <th>Instance Type</th>
    <th>Launch Time</th>
    <th>State</th>
    <th>&nbsp;</th>
</tr>
{{- $launched := .Launched}}
{{- $terminate := .Terminate}}
{{- $terminated := .Terminated}}
{{- range .Instances}}
<tr{{if eq (ToString .InstanceId) $launched}} bgcolor="#eeffee"{{else if eq (ToString .InstanceId) $terminate}} bgcolor="#ffeeee"{{else if eq (ToString .InstanceId) $terminated}} bgcolor="#ffeeee"{{end}}>
    <td>{{if (ToString .PublicDnsName)}}<kbd>ssh -A {{.PublicDnsName}}</kbd>{{else}}&nbsp;{{end}}</td>
    <td>{{.Placement.AvailabilityZone}}</td>
    <td>{{.InstanceType}}</td>
    <td>{{.LaunchTime}}</td>
    <td>{{.State.Name}}</td>
    <td>{{if eq .State.Name "running"}}{{if eq (ToString .InstanceId) $terminate}}
        <form method="POST">
            <input type="submit" value="Yes, Terminate">
            <input name="region" type="hidden" value="{{.Placement.AvailabilityZone | RegionFromAZ}}">
            <input name="terminate" type="hidden" value="{{.InstanceId}}">
        </form>
    {{else}}<a href="?terminate={{.InstanceId}}">Terminate</a>{{end}}{{else}}&nbsp;{{end}}</td>
</tr>
{{- end}}
</table>
<p>By default, Instance Factory uses the Amazon Linux 2 AMI and so the SSH user is <code>ec2-user</code>. Configure <code>ssh</code>(1) to use it by pasting the following into <code>~/.ssh/config</code>:
<pre>Host ec2-*.amazonaws.com
    User ec2-user</pre>
<p>If your organization has customized the Instance Factory using a launch template, you may need to adjust this SSH configuration to your organization&rsquo;s standards by e.g. changing the username.</p>
</body>
</html>
